<a href="https://colab.research.google.com/github/Ruqyai/MENADD-DL/blob/main/Notebooks/Assignments/Assignment_NN_Social_Network_Ads.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# mlp for classification
import tensorflow 
from tensorflow import keras
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense
from sklearn.model_selection import train_test_split
from pandas import read_csv

In [ ]:
# load the dataset
path = 'https://raw.githubusercontent.com/Ruqyai/MENADD-DL/main/Data/Social-Network-Ads.csv'
df = read_csv(path)
df

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [ ]:
# convert to numbers
df['Gender'].replace({'Male':0,'Female':1},inplace=True)

In [ ]:
# split into input and output columns
#features = # TODO
#labels = # # TODO

In [ ]:
# split into train and test datasets
X_trains,X_tests,y_trains,y_tests = # TODO

In [ ]:
# define model
 # TODO

In [ ]:
# model.compile # TODO

In [ ]:
# model.fit # TODO

In [ ]:
# evaluate the model
# TODO

In [ ]:
# make a prediction
# TODO