<a href="https://colab.research.google.com/github/Ruqyai/MENADD-DL/blob/main/Notebooks/Assignments/Solution_of_Social_Network_Ads.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# mlp for classification
import tensorflow 
from tensorflow import keras
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense
from sklearn.model_selection import train_test_split
from pandas import read_csv

In [ ]:
# load the dataset
path = 'https://raw.githubusercontent.com/Ruqyai/MENADD-DL/main/Data/Social-Network-Ads.csv'
df = read_csv(path)
df

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [ ]:
# convert to numbers
df['Gender'].replace({'Male':0,'Female':1},inplace=True)

In [ ]:
# split into input and output columns
features = df[['Gender', 'Age', 'EstimatedSalary']].values
labels =df['Purchased'].values

In [ ]:
# split into train and test datasets
X_trains,X_tests,y_trains,y_tests = train_test_split(features,labels,test_size=0.2,random_state=1)

In [ ]:
# define model
model = Sequential()
model.add(Dense(10,input_dim=3,activation='relu'))
model.add(Dense(18,activation='relu'))
model.add(Dense(28,activation='relu'))
model.add(Dense(128,activation='relu'))
model.add(Dense(28,activation='relu'))
model.add(Dense(128,activation='relu'))
model.add(Dense(128,activation='relu'))
model.add(Dense(28,activation='relu'))
model.add(Dense(128,activation='relu'))
model.add(Dense(28,activation='relu'))
model.add(Dense(1,activation='sigmoid'))

In [ ]:
model.compile(loss='binary_crossentropy',optimizer='Adam',metrics=['accuracy'])

In [ ]:
model.fit(X_trains, y_trains, epochs=500, batch_size=32, verbose=0)

In [ ]:
# evaluate the model
error = model.evaluate(X_tests, y_tests, verbose=0)
print('Loss: %.2f  ' % error[0], 'Accuracy: %.2f'% error[1] )

Loss: 0.62   Accuracy: 0.71

In [ ]:
Predicted = model.predict(X_tests)

In [ ]:
# make a prediction
row = [0,28,55000] 
yhat = model.predict([row])

print('The prediction: %.2f'% yhat)

if yhat >=0.5:
  print('Will purchase')
else:
  print('Will not purchase')

The prediction: 0.26
Will not purchase